/*Basics*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*general*/
.code-generator-section {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    padding: 15px 30px;
}

.font-blue {
    color: #0079AE;
}

a:hover {
    cursor: pointer;
}

#code-box {
    display: none;
}

.red-border {
    border: 1px solid #E73A2F;
}

.number {
    background-color: #E73A2F;
    padding: 1px 5px;
    border-radius: 50%;
    color: #ffffff;
}


/*form*/
input, textarea {
    width: 100%;
    margin: 0 0 10px;
}

/*button*/
.copy-code-button {
    border: none;
    background-color: #0079AE;
    color: #ffffff;
    padding: 5px 30px;
    margin: 10px 0 0;
    width: 100%;
    border-radius: 0;
    font-size:18px;
}

.copy-code-button:hover {
    background-color: #52AF52;
}